body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #c9b196;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#game-container {
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    border: 10px solid #d9c0a3;
    background: url("img/LVL-1-Egipto/fondo-desierto-dia.png") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    border-radius: 30px;
}

.personaje {
    position: absolute;
    width: 128px;
    height: 128px;
    overflow: hidden;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-position: 0 0;
    background-size: cover;
}
/* Animación Idle */
@keyframes animarIdle {
    from { background-position: 0; }
    to   { background-position: -640px; }
}

/* Animación jump */
@keyframes animarJump {
    from { background-position: 0; }
    to   { background-position: -869px; }
}

/*Animación run */
@keyframes animarRun {
    from { background-position: 0; }
    to   { background-position: -927px; }
}

/* Animación walk */
@keyframes animarWalk {
    from { background-position: 0; }
    to   { background-position: -927px; }
}

.moneda {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: gold;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(255, 223, 0, 0.8);
}